table {
    border: 2px;
}

.botaoDel {
    background-color: rgba(255, 0, 0, 0.658);
    width: 35px;
}

.botaoC {
    background-color: rgba(0, 255, 21, 0.500);
    width: 35px;
}

.botao {
    width: 35px;
}