@font-face {
    font-family: 'Thunder';
    src: url('./fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}

/* Tipos de format() */

/*
opentype format (otf)
truetype format (ttf)
embedded-opentype
truetype-att (Apple Advanced Typography)
svg
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

span {
    color: green;
}

#barraNav {
    background-color: green;
    height: 8vw;
}

#whatsapp {
    float: right;
    display: block;
    width: 14vw;
    height: 5vw;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
    font-size: 1.8vw;
    text-transform: uppercase;
    color: green;

    margin-top: 1.5vw;
    margin-right: 9vw;
    border-radius: 20px;
    border: none;
    cursor:pointer;
    transition: 0.8s;
    &:hover {
        color: green;
        background-color: #FF9900;
        font-size: 2vw;

        width: 15vw;
        height: 5.5vw;

        margin-top: 1.2vw;
        margin-right: 8.5vw;

    }
}


#yellow {
    float: inherit;
    background-color: #FF9900;
    height: 100%;
    width: 20%;
}



/* Seção Início */
#inicio {
    height: 40vw;
}

#imagemEntrada {
    float: left;
    margin-left: 10%;
    display: inline-block;
    position: relative;
    bottom: 10%;
    
    width: 35%;
    border: 4px solid green;
}

section#inicio aside {
    float: right;
    margin-top: 3vw;
    margin-right: 3vw;

    text-align: center;
    width: 48vw;
    height: 20vw;
}

#titulo {
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3vw;
}

#subtitulo {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vw;
}

#buttonCliqueAqui {
    position: relative;
    top: 3vw;
    
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bolder;
    
    width: 25vw;
    height: 4vw;
    
    color: white;
    background-color: green;
    border: none;
    cursor:pointer;
    transition: 0.8s;
    &:hover {
        color: green;
        background-color: #FF9900;
        font-size: 1.7vw;
        border-radius: 150px;
        width: 28vw;
        height: 5vw;
        top: 2.5vw;
        
        }
}


#seta {
    transform: rotate(90deg);
    width: 10vw;
    position: absolute;
    top: 35vw;
    right: 21vw;
    cursor:pointer;
    

}



/* Seção Imagem */
#imagemSonho {
    width: 100%;
    margin-bottom: -0.82vw;
}

#imoveis {
    text-align: center;
    color: green;
    background-color: #FF9900;
    margin: 0px auto;
    font-family: 'Thunder';
    font-size: 4vw;
    text-transform: uppercase;
    margin-bottom: 8vw;
    height: 6.1vw;
    padding-top: 2.5vw;
}


/* Seção Casas */

.h {
    font-size: 2.5vw;

}

li {
    font-size: 1.4vw;
    margin-bottom: 1.4vw;
    width: 45%;

}
.casas {
    position: relative;
    margin-bottom: 3vw;

}

.casaGlorinha {
    padding-left: 7vw;
    height: 25vw;
}

.imagemEntrada2 {
    float: right;
    position: relative;
    top: -26vw;
    
    width: 25%;
    border: 4px solid green;
    border-right: 22vw solid green;
    cursor:zoom-in;
}

.botaoVerMaisFotos {
    float: right;
    position: absolute;
    right: 4vw;
    top: 7.5vw;
    color: green;
    border: 0px;
    padding: 1.8vw;
    font-size: 1.5vw;
    border-radius: 20px;
    cursor:pointer;
    transition: 0.8s;
    &:hover {
        background-color: #FF9900;
        font-size: 1.8vw;
        right: 3vw;
        top: 6.5;
    }
}


/*  Formulário */
.containerM {
    position: relative;
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: green;
    border-radius: 20px;
    top: -15vw;
    width: 38vw;
}

#form {
    margin-left: 50%;
    transform: translate(-50%);
    width: 20vw;
    border-right: solid 0.7vw white;
    border-left: solid 0.7vw white;
    padding: 3vw 3vw 0 3vw;
}  

#tituloForm {
    text-align: center;
    color: white;
    cursor: default;
    font-size: 1.19vw;
}

#subTituloForm {
    text-align: center;
    font-size: 1.4vw;
    
    position: relative;
    right: 1%;
    width: 102%;
    height: 3.7vw;
    
    color:green;
    background-color: white;
    cursor:default;
}

#subTituloForm p {
    padding-top: 1vw;
}



fieldset {
    border: none;
    font-weight: 600;
    color:white;
    width: 100%;
    font-size: 1.2vw;
}


input {
    border-radius: 5px;
    width: 90%;
    border: solid 2px #FF9900;
    height: 3vw;
    color: green;
    text-indent: 5%;
    letter-spacing: 1px;
    outline: none;
    
    font-size: 1vw;
}

#nome {
    margin-top: 30px;
}

#duvida {
    height: 6vw;
    text-indent: 5%;
}

#enviar {
    width: 10vw;
    height: 4vw;
    
    margin-left: 4vw;
    margin-bottom: 2vw;
    margin-top: 15px;


    color: white;
    background-color: #FF9900;
    border: none;
    cursor: pointer;
    font-size: 2vw;
    text-transform: uppercase;
    text-indent: -1px;
    transition: 0.5s;
    &:hover {
        font-size: 2.1vw;
    }
}

/* Rodapé */

#rodape {
    background-color: green;
}

#linkInstagram {
    margin-top: 1vw;
    margin-left: 50%;
    transform: translate(-50%);
    text-decoration: none;
    border: none;
    background-color:#FF9900;
    background-color: white;
    color: black;
    color: white;
    color: #1C9821;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    display: inline-block;
    width: 25vw;
    height: 3vw;
    font-size: 1.2vw;
    &:hover {
        width: 26vw;
        font-size: 1.3vw;
        #logoInstagram {
            width: 1.7vw;
            top: 0.3vw;
        }
    }
}

#logoInstagram {
    width: 1.5vw;
    position: relative;
    top: 0.2vw;
    left: 0.6vw;
    &:hover {
        width: 1.6vw;
        top: 0.3vw;

    }
}